
/* *{
    background-color: black;
} */

#div_niks{
/* display: flex;
flex-direction: column;
justify-content: space-around; */
height: 380px;
width: 240px;
background-color: wheat;
/* border: 1px solid black; */
border-radius: 10px;
box-shadow: 2px 2px 2px 2px white;
/* padding: 10px 10px 10px 10px; */
/* margin-left: 30%; */
padding-left: 20%;
gap: 10px;

}
#box_niks{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 10px;
width: 100%;
height: 1200px;
background-color: black;
margin-top: 10px;
/* box-shadow: 10px 10px 10px 10px black; */
border: 10px solid black;

}
/* /* *{
    background-color: black;
} */
#top_img_niks{
width: 100%;
height: 500px;
background-color: black;
}
.niks_photo{
height: 200px;
width: 200px;
}
.btn_niks{
background-color: rgb(255, 0, 0);
color: white;
height: 30px;
width: 200px;
font-size: larger;
border: none;
border-radius: 10px;

}
.niks_same1{
color: rgb(255, 0, 0);
/* text-align:center; */
margin-left: 40px;
}
.niks_same2{
margin-left: 37px;
}
/* .niks_same{
text-align: center;
} */
/* h3{
text-align: center;
} */
.btn_niks:hover{
background-color: green;
}
.heading_niks{
font-size: 60px;
}
.niks_photo:hover{
transition: ease-in-out;
transform: scale(1.4);
}
/* .btn2_niks{
background-color: black;
color: white;
height: 20px;
width: 20px;
margin-top: 0px;
} */
