*{
  margin:0px;
  padding:0px;
}

#navbar {
  background-color: #000000;
  color: white;
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  align-items: center;
  padding: 10px;
}
#navbar > div:nth-child(1) {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
#navbar > div:nth-child(1) img {
  width: 50%;
}
#navbar > div:nth-child(2) {
  font-size: 18px;
}
#navbar > div:nth-child(3) {
  display: flex;
  justify-content: space-around;
}
#navbar > div:nth-child(3) > input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 60%;
}
#navbar > div:nth-child(4) {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}
#navbar > div:nth-child(4) img {
  width: 100%;
}
#gift {
  width: 70%;
}
#dropdown-menu ul {
  list-style: none;
}
#dropdown-menu > ul {
  /* border: 1px solid red; */
  display: flex;
  gap: 30px;
}
#dropdown-menu a {
  color: white;
}
#details {
  width: 100%;
  top: 30px;
  left: 0;
  /* border: 1px solid fuchsia; */
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  z-index: 1;
  top: 50px;
  display: none;
  transition: 2s;
}
#details img {
  width: 100%;
}
#dropdown-menu ul li:hover #details {
  display: grid;
}

#dropdown-menu > ul > li > a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
}

#dropdown-menu > ul > li > a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
#dropdown-menu > ul > li > a:hover:after {
  width: 100%;
}
#cart-click {
  cursor: pointer;
}

#total_product {
  font-size: small;
  position: absolute;
  background-color: red;
  padding: 2px 5px;
  border-radius: 50%;
  top: 0;
  right: 0;
}
